WORDPRESS_URL="https://teckzilla.net"
WORDPRESS_HOSTNAME="teckzilla.net"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"